<h1>New cal_tax</h1>

<%= render 'form' %>

<%= link_to 'Back', cal_taxes_path %>




<%#
可能性
1 http://ruby-rails.hatenadiary.com/entry/20140807/1407419013#render-view-desc  4
部分テンプレ
2render file: ~~~~~~~~


	%>
